@mixin effect {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    transition: transform 300ms;
    &:hover {
        filter: brightness(80%);
        -webkit-filter: brightness(80%);
        transform:scale(1.06);
    }
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    width:100%; 
    font-size: 1.2rem;
    min-height: 100%!important;
}

//navbar
.navbar {
    background-image: url("images/geometric-leaves.png");
    &-toggler:hover{
        background-color: #fff!important;
        color: #000!important;
    }
    .navbar-nav{
        align-items: baseline;
        column-gap: 1rem;

    }
}

//main
.women, .men{
    background-image: url("images/geometric-leaves.png");
}
h1, h3{
    font-family: "Times New Roman", Times, serif;
}

.text{
    text-align: justify;
    
}
//images dans le texte
p img{
    max-width: 45%;
    box-shadow: 1px 1px 5px #000;
    &.left{
        float: left;
    }
    &.right{
        float: right;
    }
}
//images des liens index.html
.link{
    justify-content: center;
}
.card{
    border: 0px solid transparent!important;
    @include effect;
    img{
        width:10rem;
        height:8rem;
        &:hover ~ h2 {
            color: red!important;
            margin: 0!important;
        }
        &:hover ~ .color{
            color: #000!important;
            text-shadow: 1px 1px 1px #fff;
        }
    }
    h2{
        top: 3rem;
        left: 18%;
        color: white!important;
        pointer-events:none;
        text-shadow: 1px 1px 1px #000;
    }
    .card-title1{
        right:1rem;
    }
    .card-title2{
        left:25%!important;
    }
}

.bracelet{
    & div{
        column-gap: 1rem;
        row-gap: 1rem;
    }
   & img{
       width:9rem;
       box-shadow: 2px 1px 5px #000;;
   }
}

//images des carousels
.card-img{
    margin-left: 0!important;
    height: 100%!important;
    width: auto!important;
    & img{
        object-fit: contain!important;
        height: 13rem!important;
    }
}

.slick-prev:before, .slick-next:before{
    color: #000;
}
// footer
footer{
    flex-direction: column;
    font-size: 0.9rem;
    & .director {
        line-height: 1rem;;
    }
    & a:hover{
        color:#4871e2!important;
    }
    h3{
        font-size:1rem!important
    }
}

//page law.html
.mentions{
    padding-top: 3rem;
    padding-left:3.5rem;
    & h1{
        text-shadow: 1px 1px 2px #000; 
    }
}
.return_home{
    padding-left:7vh;
    align-items: center;
    margin-top:3rem;
    .link_home{
        &:hover{
            color: rgb(88, 88, 88)!important;
        }
        & .arrow{
            width:40px;
        }
    }
}
//page info
.block{
    flex-direction: column;
}

//responsive
@media all and (max-width:450px){
    .index{
        max-width: 100%;
        & section:first-of-type{
            margin : 1rem!important;
        }
    }
    .info{
        margin-left: 1rem!important;
    }
}

@media all and (max-width:400px){
    .bracelet, .card {
        img{
            width: 7.5rem!important;
        }
        h2{
            font-size: 1.2rem;
        }
    }
}

@media all and (max-width:350px){
    .logo{
        font-size: 1rem!important;
    }
}

@media all and (min-width:600px){
    .index{
        max-width: 80%;
        margin: auto;
    }
    section {

        h2{
            font-size: 1.5rem;
        }
    }
        footer{
        flex-direction: row!important;
    }
}

@media all and (max-width:992px){
    .navbar-nav {
        line-height: 1rem!important;
        & .nav-link{
        padding-left: 1rem!important;
        }
        & .dropdown{
            padding-left: 1rem!important; 
            line-height: 1.7rem!important;
        }
    }
}


@media all and (min-width:800px){
    .block{
        flex-direction: row!important;
    }
    iframe{
        width: 100%!important;
    }
}

@media all and (min-width:1200px){
    .link{
        justify-content: space-around;
    }
}